# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio files
*.suo
*.sdf
*.opensdf
*.aps
*.vsp
*.psess
*.vcxproj
*.vcxproj.filters
*.sln
*.ilk
*.pdb
*.tlog
*.obj
*.log

# CMake
CMakeFiles
CMakeCache.txt
cmake_install.cmake

/src/game/client/Debug
/src/game/client/Release
/src/client_exectuable/Debug
/src/client_exectuable/Release

/src/game/server/Debug
/src/game/server/Release
/src/server_executable/Debug
/src/server_executable/Release

/src/game/shared/Debug
/src/game/shared/Release


